@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
* {
  margin: 0;
}
body {
  font-family: 'Slabo 27px', serif;
  height: 100vh;
}
.swipeWrapper {
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: 15%;
  display: flex;
  flex-direction: column;
}
/* iSwiper styles */
.imageSwipper.swiper-container {
  padding: 15% 0 36%;
  width: 100%;
  overflow: visible;
  z-index: 2;
}
.imageSwipper.swiper-container:after {
  content: '';
  width: 100%;
  padding-bottom: 100%;
  position: absolute;
  pointer-events: none;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  top: 29%;
  transform: rotate(-45deg);
  left: 0;
  right: 0;
  margin: auto;
}
.imageSwipper .swiper-slide {
  width: 35%;
  transition: opacity 0.3s;
}
.imageSwipper .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
}
.imageSwipper .swiper-slide > div {
  width: 100%;
  transform: rotate(-45deg);
  overflow: hidden;
  transition: 0.3s transform;
}
.imageSwipper .bgElem {
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 1.5%;
}
.imageSwipper .bgElem:after,
.imageSwipper .bgElem:before {
  content: '';
  width: 100%;
  position: absolute;
  right: 0;
  padding-bottom: 250%;
  background: rgba(255, 255, 255, 0.42);
  bottom: 0;
}
.imageSwipper .bgElem:before {
  left: -23%;
  transform: rotate(-45deg);
  transform-origin: bottom left;
}
.imageSwipper .bgElem:after {
  right: -23%;
  transform: rotate(45deg);
  transform-origin: bottom right;
}
.imageSwipper figure {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  transform: rotate(45deg) scale(1.4);
}
/* cSwiper styles */
.contentSwipper {
  flex-grow: 1;
  background-color: #fff;
  width: 100%;
  margin-top: 4px;
}
.contentSwipper.swiper-container {
  overflow: visible;
  margin-top: 5px;
}
.contentSwipper:before {
  content: '';
  background: #fff;
  width: 47%;
  padding-bottom: 47%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: rotate(45deg) translate(-25%, -25%);
}
.contentSwipper .swiper-slide {
  width: 75%;
  text-align: center;
}
.contentSwipper .swiper-slide:not(.swiper-slide-active) {
  opacity: 0;
}
.contentSwipper h2 {
  width: 50%;
  margin: -10% auto 10%;
  padding-bottom: 20px;
  position: relative;
}
.contentSwipper h2:after {
  content: '';
  background: var(--bg-color);
  width: 60%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.contentSwipper p {
  line-height: 1.5;
}
@media screen and (min-width: 640px) and (max-width: 760px) {
  .contentSwipper p {
    width: 60%;
    margin: auto;
  }
}
.contentSwipper a {
  margin: 20px;
  display: inline-block;
  text-decoration: none;
  font-size: 21px;
  color: var(--bg-color);
  padding: 10px 15px;
  position: relative;
}
.contentSwipper a i {
  margin-right: 5px;
}
.contentSwipper a:before,
.contentSwipper a:after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--bg-color);
  position: absolute;
  left: 0;
  padding: 2px 0;
  background-clip: content-box;
  border-color: var(--bg-color);
  border-style: solid;
  border-width: 0;
}
.contentSwipper a:before {
  top: 0;
  border-top-width: 2px;
}
.contentSwipper a:after {
  bottom: 0;
  border-bottom-width: 2px;
}
/* Buttons */
.slideBtn {
  width: 35%;
  padding-bottom: 35%;
  height: 0;
  background: #000;
  position: absolute;
  bottom: 0;
  z-index: 3;
}
.slideBtn:before {
  content: '';
  width: 25%;
  padding-bottom: 25%;
  border-color: #fff;
  border-style: solid;
  display: inline-block;
  margin: 15%;
}
.btnPrev {
  left: 0;
  transform: rotate(-45deg) translate(-75%, 0);
  text-align: right;
}
.btnPrev:before {
  border-width: 1px 0 0 1px;
  transform: translate(0%, 150%);
}
.btnNext {
  right: 0;
  transform: rotate(-45deg) translate(0, 75%);
}
.btnNext:before {
  border-width: 0 1px 1px 0;
}
header {
  background: url('../img/header.png') no-repeat;
  background-size: 100% auto;
  padding-bottom: 15%;
  position: absolute;
  width: 100%;
  top: 0;
}
header label {
  width: 7%;
  height: 0;
  padding-bottom: 0.7%;
  background: #fff;
  position: absolute;
  left: 2.1%;
  top: 0;
  bottom: 0;
  margin: auto;
}
header label:after,
header label:before {
  content: '';
  width: 100%;
  position: absolute;
  height: 100%;
  background: inherit;
}
header label:before {
  top: -250%;
}
header label:after {
  bottom: -250%;
}
.appWrapper {
  height: 100%;
}
.appContainer {
  height: 100%;
  position: relative;
  overflow: auto;
  --bg-color: #c3497b;
  background-color: var(--bg-color);
}
#mobileSlide {
  opacity: 0;
  position: absolute;
  left: -999px;
}
@media screen and (max-width: 768px) {
  #mobileSlide:checked ~ .appInfo {
    transform: translateY(0);
  }
}
.appInfo {
  position: fixed;
  top: 0;
  padding: 15% 25px;
  box-sizing: border-box;
}
.appInfo label {
  position: absolute;
  font-size: 70px;
  line-height: 0.5;
  left: 4%;
  top: 2%;
  display: none;
}
.appInfo .boxActions {
  margin-bottom: 10px;
}
.appInfo .boxActions a {
  display: inline-block;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .appInfo {
    width: 100%;
    text-align: center;
    background: #c34a7c;
    z-index: 5;
    color: #fff;
    height: 100%;
    transform: translateY(-100%);
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
  }
  .appInfo label {
    display: block;
  }
}
/* Desktop Styles */
@media screen and (min-width: 768px) {
  body {
    background-color: #c3497b;
  }
  .appWrapper {
    background: url(../img/bg_mobile.png) no-repeat;
    background-size: contain;
    width: 320px;
    height: 635px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
  }
  .appWrapper .appContainer {
    width: 284px;
    height: 475px;
    overflow: hidden;
    margin: 50px auto 0;
  }
  .contentSwipper .swiper-slide {
    font-size: 0.8em;
  }
  .appInfo {
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    width: 50%;
    height: auto;
    box-sizing: border-box;
    color: #ffffff;
  }
  .appInfo p {
    font-size: 1.2em;
    margin: -4px 0 20px;
  }
}
@media screen and (min-width: 768px) and (min-height: 650px) {
  .appWrapper:after {
    content: '';
    width: 90%;
    padding-bottom: 5%;
    position: absolute;
    bottom: -3%;
    background: #000;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    filter: blur(15px);
  }
}
